:root {
  --color--text: #444;
  --color--gray: #777;
  --color--light-gray: #bbb;

  --color--green: #27ae60;
  --color--blue: #2980b9;
  --color--red: #c0392b;
}

.App {
  text-align: center;
  background-color: #fafafc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color--text);
}

.App__header {
  margin: 1rem;
  padding: 0.5rem;
  border-bottom: 1px dashed var(--color--light-gray);
}

.App__main {
  margin: 1rem;
}
